ul{
	padding : 0px;
}
a{
	color: black;
    text-decoration: none;
}
.wrap-body .wrap-main .myrecord{
	width: 960px;
	margin: 0 auto;
	height: auto;
	overflow : hidden;
	padding-bottom : 30px;
	
	/* background-color: lightgray;   */
	font-family: "IM_Hyemin-Regular";
	position: relative;

}

.wrap-body .wrap-main .myrecord p {
	font-family: "IM_Hyemin-Regular";
	font-size: 15px;
	margin : 1px;
}
.wrap-body .wrap-main .myrecord .sub-title >p:nth-child(1){
	font-family: "IM_Hyemin-Bold";
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom:5px;
}
/* 과목 추가 모달 css */
.wrap-body .myrecord .add-sub
 {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
	
	
	/*모달창 위치*/
}
.wrap-body .myrecord .modify-sub{
		position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
}


.wrap-body .myrecord form>* {
	margin-bottom: 36px;
	font-size: 17px;
}

.wrap-body .myrecord .title  {
	font-family: "IM_Hyemin-Bold";
	font-size: 20px;
}

.wrap-body .myrecord input[type='text'] {
	height: 40px;
	width: 200px;
	border-radius: 10px;
	background-color: lightgray;
	border: none;
}

.wrap-body .myrecord input {
	font-family: "IM_Hyemin-Regular";
}

.wrap-body .myrecord .sub-color {
	display: flex; /* Flexbox를 사용하여 요소를 나란히 배치 */
	justify-content: center;
}

.wrap-body .myrecord .sub-color>p {
	margin-right: 10px;
}


/*-------------------------------------*/
.wrap-body .myrecord .btn {
	border: none;
	padding : 2px;
	background-color: var(--color_purple_1);
	color: white;
	width: 75px;
	border-radius: 10px;
	cursor: pointer;
}
.wrap-body .myrecord .timer.box {
	width: 100%;
	position: relative;
	/* TODO 과목 증가시 높이 증가..? */
	min-height: 430px;
	
	display: flex;
    flex-direction: row;
	
	box-sizing: border-box;
}

.wrap-body .myrecord .timer.box .study-info {
	position: relative;
	width: 25%;
	background-color: var(--color_purple_3);
	width: 25%;
   display: flex;
    flex-direction: column;
}
.wrap-body .myrecord .timer.box .study-info .sujblsit{
		margin-bottom: 40px;
}

.wrap-body .myrecord .timer.box .study-info  li {
	padding: 10px;

	
}

.wrap-body .myrecord .timer.box .study-info  li>div {
	padding: 5px;
}
/* 
.wrap-body .myrecord .btn {
	border: none;
	padding: 2px;
	background-color: var(--color_purple_1);
	color: white;
	width: 75px;
	border-radius: 10px;
}
 */
.wrap-body .myrecord .timer.box .study-info .btnGroup {

	position: absolute;
	bottom: 0px;
	right: 0px;
}

.wrap-body .myrecord .timer.box .study-info .btn {
	margin-right: 10px;
	margin-bottom: 10px;
}

.wrap-body .myrecord .mem-id {
	font-size: 17px;
	background-color: var(--color_purple_2);
}

.wrap-body .myrecord .timer.box .study-countdown-box {
	width: 75%;
	font-size: 64px;
	background-color: var(--color_purple_1);
	position: relative;
}

.wrap-body .myrecord .timer.box .study-countdown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}
.wrap-body .myrecord .timer.box .study-countdown #selSub {
	font-family: IM_Hyemin-Bold;
	color: white;
	padding-bottom : 5px;
}
.wrap-body .myrecord .timer.box .study-countdown #countdown {
	font-family: IM_Hyemin-Bold;
	color: white;
	font-size: 64px;
}

.wrap-body .myrecord .subject-modal {
	padding : 10px;
	display: flex;
	flex-direction : row;
	justify-content: flex-end;
}

/* 모달  */
.wrap-body .myrecord .subject-modal .btn{
	width : 120px;
	margin : 5px;
}


/* 글 부분 */
 .wrap-body .myrecord  .wrap-modal > .modal-content {
    margin: 0 auto;
    /*가운데 정렬 , 기본 option*/
    width: 500px;
    position: relative;
    top: 50px;
    left: 100px;
    background-color: #D9D9D9;
}
 
.wrap-body .myrecord  .modal-content .modal-close:hover {
    cursor: pointer;
    
}
.wrap-body .wrap-main .myrecord .study-calender{
	margin : 20px 0 ;
	padding : 20px 0;
	width: 60%;
	
}

.wrap-body .wrap-main .subId{
	caret-color: transparent;
	border: 2px solid  var(--color_purple_1);
	width:80px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
		cursor: pointer;
}
.wrap-body .wrap-main .myrecord .statistics-part{
	display : grid;
	/* 컬럼(열) 너비 1:1설정 */
	grid-template-columns:  1fr 1fr ;
	grid-template-rows: 70px 400px 400px 400px 400px 400px 400px; 
	/* 행 배치 너비 1배율로6개 */
	/*grid-template-rows: repeat(6,1fr);*/
	
	/* row ,column 의 간격을 20px로 */
	gap: 20px;

	

	/* TODO 추후 삭제  */
	background-color: #a5ea89;
	
}
.wrap-main .myrecord .statistics-part .grid-item:nth-child(1){
	grid-column:1/3;
	grid-row:1/2;
	/*
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	*/
}
.wrap-main .myrecord .statistics-part .grid-item:nth-child(2){
	grid-column:1/2;
	grid-row:2/3;
}


/*왜 적용이 안 되는 거죵?!*/
.wrap-main .myrecord .statistics-part .grid-item p{
 		padding-bottom: 5px;
	 	margin-bottom: 5px;
 }
