@charset "UTF-8";

.wrap-body .group-mem {
	/* 내 그룹 중앙 배치 */
	width: 960px;
	margin: 0 auto;
}

.wrap-body .group-mem .now {
	text-align: center;
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font1);
	margin: 50px 0;
}

.wrap-body  .group-mem hr {
	background: var(--color_purple_1);
	height: 1px;
	border: 0;
	margin: 50px 0;
}

.group-box ul {
	display: flex;
	justify-content: center;
}

.wrap-body  .mem-box {
	width: 120px;
	height: 150px;
	border: 2px solid var(--color_gray_1);
	display: grid;
	align-items: center;
	text-align: center;
	margin: 0 15px;
}

.mem-box img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	margin-left: 20px;
}

.wrap-calc {
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.wrap-calc .wrap-calendar {
	width: 550x;
	height: 500px;
	margin-right: 40px; 
}

.wrap-calc .wrap-rank {
	width: 420px;
	height: 500px;
}

.wrap-calc .ct {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font1);
	margin-bottom: 40px;
}

.wrap-calc  .wrap-calendar table {
	/*출석부*/
	width: 500px;
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	table-layout: fixed;
}

.wrap-calc  .wrap-calendar th, td {
	padding: 20px 3px;
	text-align: center;
	border: 1px solid gray;
	border-collapse: collapse;
}

.wrap-calc  .wrap-calendar th {
	font-family: "IM_Hyemin-Bold";
}

.wrap-calc .wrap-rank .rank-txt div {
	/*그룹 내 랭킹*/
	display: inline-block;
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font3);
}

.wrap-calc .wrap-rank .rank-txt{
	position: relative;
	margin: 20px 0;
}

.wrap-calc .wrap-rank .rank-txt .mins{
	position: absolute;
	right: 0;
	top: 8px;
}

.wrap-calc .wrap-rank .rank-txt .rank {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
}

.wrap-calc .wrap-rank .rank-txt .rank p {
	padding-top: 8px;
}


.wrap-rank .rank-txt .rank-1 {
	background-color: var(--color_purple_1);
}

.wrap-rank .rank-txt .rank-2 {
	background-color: var(--color_purple_2);
}

.wrap-rank .rank-txt .rank-3 {
	background-color: var(--color_purple_3);
}

.wrap-rank .rank-txt .rank-4 {
	background-color: var(--color_blue_3);
}

.wrap-rank .rank-txt .rank-5 {
	background-color: var(--color_blue_2);
}
