@charset "UTF-8";

.find-group{
	display: flex;
	justify-content: center;
	font-family: "IM_Hyemin-Regular";
}

.find-group .group-box {
    text-align: left;
}

.find-group .group-box {
    display: inline-block;
}

.find-group .group-box li {
    margin: 8px;
    float: left;
    border: 1px solid var(--color_gray_1);
    border-radius: 5px;
    width: 220px;
    height: 200px;
}

.find-group .group-box .box {
    width: 220px;
    position: relative;
    margin: 0 auto;
}

.find-group .group-box .img_g {
    width: 220px;
    height: 140px;
    object-fit: cover;
}

.find-group .group-box .tag {
    color: white;
    font-weight: bold;
    font-size: var(--font5);
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}
.group-tab-content .box .description {
	 display: block;
}

.group-tab-content .box .description a {
    padding: 3px 0;
}

.group-tab-content .box .description .name-sub{
    height: 40px;
}

