@charset "UTF-8";

.wrap-body .wrap-group {
	height: 350px;
	width: 100%;
	background-color: rgb(221, 204, 255, 0.2);
}

.wrap-body .wrap-my {
	/* 내 그룹 중앙 배치 */
	width: 960px;
	margin: 0 auto;
	display: flex;
}

.wrap-body .wrap-my {
	padding-top: 40px;
	padding-bottom: 10px;
}

.wrap-body .txt-my {
	margin-right: 30px;
	width: 500px;
	position: relative;
}

.wrap-my .myGImg{
	width: 430px;
	height: 270px;
	border-radius: 20px;
}
.wrap-my img{
	width: 430px;
	height: 270px;
	object-fit: cover;
}

.wrap-my .myGName{
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font1);
	margin: 10px 0 40px 0;
}
.wrap-my .myGExp{
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font3);
	
}
.wrap-my .txt-my button {
	background-color: var(--color_purple_1);
	font-family: "IM_Hyemin-Bold";
	color: white;
	border: 0;
	height: 25px;
	width: 130px;
	border-radius: 10px;
}

.wrap-my .wrap-btn{
	margin-top: 130px;
}
