ul,
ol,
li {
   /* 속성 리셋 */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    /* a 속성 리셋 */
    color: black;
    text-decoration: none;
}

@font-face {
	font-family: 'IM_Hyemin-Bold';
	 /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff'); */ 
	src: url('../../fonts/IM_Hyemin-Bold.ttf'); 
	font-weight : 700; 
	font-style: normal;
}

@font-face {
	font-family: "IM_Hyemin-Regular";
	/* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff'); */ 
	src: url('../../fonts/IM_Hyemin-Regular.ttf'); 
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LaundryGothic-Bold";
	/* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');  */
	src: url('../../fonts/LaundryGothic-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'LaundryGothic-Regular';
	/* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2'); */ 
	src: url('../../fonts/LaundryGothic-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}


:root {
    --color_purple_1: #8066FF;
    --color_purple_2: #BF80FF;
    --color_purple_3: #DDCCFF;
  
    --color_blue_1: #6680FF;
    --color_blue_2: #99BBFF;
    --color_blue_3: #CCDDFF;
  
    --color_pink_1: #EE99FF;
    --color_pink_2: #FFB3E5;

    --color_yellow_1: #FDFD96;
    --color_yellow_2: #FFE16F;

    --color_green_1: #DDFFDD;
    --color_green_2: #AED581;
    --color_green_3: #C5E1A5;
    
    --color_gray_1: #F1F1F1;

    --font1: 20px;
    --font2: 17px;
    --font3: 15px;
    --font4: 13px;
    --font5: 11px;
    /*  사용
    #a {
    color : var(--color1);
    font-size: var(--font1);
    }
    */
  }