.wrap-header .tn,
.wrap-header .bn {
    /* 중앙 배치 */
    width: 960px;
    margin: 0 auto;
}

.wrapper {
    height: auto;
    min-height: 100%;
    /* footer의 높이*/
    min-height: 450px;  /* 나머지들의 최소 높이*/
}

footer {
    border-top: 1px solid var(--color_purple_2);
    background-color: var(--color_purple_1);

    height: 280px; /* footer의 높이*/
    position: relative;

    transform: translateY(0%);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .inner {
    width: 960px;
    margin: 0 auto;
}