.wrap-body {
	/* 중앙 배치 */
	width: 960px;
	margin: 0 auto;
	align-items: center;
	display:flex;
	justify-content: center;
}

.wrap-body .wrap-join{
	width: 960px;
	margin: 80px 0;
    font-size: var(--font3);
    font-family: "IM_Hyemin-Regular";
}

.wrap-body .wrap-join p{
	font-size: var(--font3);
    font-family: "IM_Hyemin-Regular";
}

.wrap-body .wrap-join .btn.dcheck{
	background-color:white;
	border:none;
}

.wrap-body .wrap-join .btn.code{
	background-color:white;
	border:none;
}

.wrap-body .wrap-join input[type=text]{
	width: 70%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom:40px;
}

.wrap-body .wrap-join input[type=email]{
	width: 70%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
     border-radius: 10px;
     margin-bottom:40px;
}

.wrap-body .wrap-join input[type=password]{
	width: 70%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
     border-radius: 10px;
     margin-bottom:40px;
}
.wrap-body .wrap-join .check{
	margin-left:100px;
	margin-bottom:20px;
}

.wrap-body .wrap-join label {
	margin-right:30px;
}

.wrap-body .wrap-join .btn.join{
	text-align: center;
	width: 40%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:#DDCCFF;
    border:none;
}

.wrap-body .wrap-join  #btnjoin{
	display:block;
	margin:auto;
}

