.wrap-body {
	/* 중앙 배치 */
	width: 960px;
	margin: 80px auto;
	align-items: center;
	display:flex;
	justify-content: center;
}

.wrap-body .wrap-mypage{
	font-size: var(--font3);
    font-family: "IM_Hyemin-Regular";
}
.wrap-body .wrap-mypage p{
	font-size: var(--font3);
    font-family: "IM_Hyemin-Regular";
}

.wrap-body .wrap-mypage button{
	border:none;
	background-color:#DDCCFF;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;
    height: 40px;
    width:80px;
    padding: 0 10px;    
}

.wrap-body .wrap-mypage .id{
	margin-bottom:30px;
	
}

.wrap-body .wrap-mypage .pwd{
	margin-bottom:30px;
}

.wrap-body .wrap-mypage input[type=text]{
	margin-bottom:20px;
	border-radius: 10px;
	border:none;
	background-color:#DDCCFF;
	 width:300px;
	  height: 30px;
}

.wrap-body .wrap-mypage .btn.logout{
	margin-right:45px;
}
.wrap-body .wrap-mypage .btn.out{
	margin-left:100px;
}
.wrap-body .wrap-mypage .myboard{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
}
.wrap-body .wrap-mypage .btn.change{
	margin:auto;
	display:block;
	margin-top:20px;
}
.wrap-body .wrap-mypage .memid{
	margin-left:20px;
	background-color:#F1F1F1;
	font-size: var(--font2);
}

.wrap-body .wrap-mypage .mempwd{
	margin-left:20px;
	margin-right:130px;
	background-color:#F1F1F1;
	font-size: var(--font2);
}
