@charset "UTF-8";

.wrap-body {
	width: 960px;
	margin: auto;
}

.wrap-body > div.pgroup > p {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font1);
	font-weight: bolder;
	text-align: center;
	margin-top: 60px;
}

.wrap-body .title {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	resize: none;
	border: none;
	border-radius: 20px;
	background: rgb(237, 237, 237);
 	padding: 20px 20px;
 	margin: 60px 40px 0 40px;

}

.wrap-body > div.main-content > div.title > div.t-1 > div {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	padding-bottom: 30px;
}

.wrap-body > div.main-content > div.title > div.t-2 > ul{
	display:flex;
	
}

 .wrap-body > div.main-content > div.title > div.t-2 > ul > li {
	flex: 1 1 0;	
}

.wrap-body > div.main-content > div.title > div.t-2 > ul > li:nth-child(2) {
	flex: 2 0 0;
}

.wrap-body > div.main-content > div.title > div.t-2 > ul > li:nth-child(3) > p:nth-child(1){
	text-align: end;
}

.wrap-body .content {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font2);
	resize: none;
	border: none;
	border-radius: 20px;
	background: rgb(237, 237, 237);
 	padding: 20px 20px;
 	margin: 20px 40px 20px 40px;

}

.wrap-body > hr {
	background: #8066FF;
	height: 2px;
	border: 0;	
}

.frm-reply {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font3);
	resize: none;
	border: none;
	border-radius: 20px;
	background: var(--color_gray_2);
 	padding: 20px 20px;
 	margin: 10px 40px 20px 40px;
}

.wrap-body > div.board-reply > div:nth-child(2) {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	margin: 10px 0 30px 0; 
}

.wrap-body > div.board-reply > div.replylist > div.replynone {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font3);
 	padding: 20px 20px;
 	margin: 10px 40px 20px 40px;
 	
 	text-align: center;
 	
}

.wrap-body > div.board-reply > p {
	font-family: "IM_Hyemin-Bold";
	margin-left: 45px;
	font-size: var(--font2);
}

.wrap-body > div.board-reply > .reply-write1> form > div.r-1 > div{
	padding-bottom: 10px;
	font-size: var(--font4);
	
}

.wrap-body > div.board-reply > div.reply > form > div.r-1 > div {
	padding-bottom: 10px;
}

.wrap-body > div.board-reply > div.reply > form > div.r-2 {
	padding-bottom: 10px;
}


.wrap-body > div.board-reply > div.reply > form > div.r-2 > div > textarea {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	border: none;
	resize: none;
	width: 100%;
	background: var(--color_gray_2);
}

textarea:focus {
  outline: none;
}

.wrap-body > div.board-reply > div.reply > form > div.r-3 {
 	font-size: var(--font4);
 }

.wrap-body > div.board-reply > div.reply > form > div.r-3 > ul{
	display:flex;
	
}

.wrap-body > div.board-reply > div.reply > form > div.r-3 > ul > li {
	flex: 1 1 0;	
}

.wrap-body > div.board-reply > div.reply > form > div.r-3 > ul > li:nth-child(2) {
	flex: 2 0 0;
}

.wrap-body > div.board-reply > div.reply > form > div.r-3 > ul > li:nth-child(3){
	text-align: end;
}


.wrap-body > div.board-reply > div.reply-write1 > form > div.r-2 > div > textarea {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	border: none;
	resize: none;
	background: rgb(237, 237, 237);
}

.wrap-body > div.board-reply > div.reply-write1 > form > div.r-3 > ul > li {
	text-align: end;
	font-size: var(--font4);
}


.wrapper > div.wrap-body > div.btn {
	
	display: grid;
 	grid-template-columns: repeat(8, 1fr); 
 	grid-template-rows: 40px; 
	margin: 10px 40px;
	column-gap: 20px;
}
.wrap-body > div.btn > button.btn.write {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font3);
	font-weight: bolder;
	border: none;
	border-radius: 20px;
	background: #DDCCFF;

}

.wrap-body > div.btn > button.btn.write:hover {
	border: none;
	border-radius: 20px;
	background: #8066FF;
	color: white;
	cursor: pointer;
}

.wrap-body > div.btn > button.btn.update {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font3);
	font-weight: bolder;
	border: none;
	border-radius: 20px;
	background: #DDCCFF;

}

.wrap-body > div.btn > button.btn.update:hover {
	border: none;
	border-radius: 20px;
	background: #8066FF;
	color: white;
	cursor: pointer;
}

.wrap-body > div.btn > button.btn.board {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font3);
	font-weight: bolder;
	border: none;
	border-radius: 20px;
	background: #DDCCFF;
	grid-column: 8/9;
	grid-row: 1 / 2;

}

.wrap-body > div.btn > button.btn.board:hover {
	border: none;
	border-radius: 20px;
	background: #8066FF;
	color: white;
	cursor: pointer;
}



/* 댓글 창 css */
.wrap-body > div.board-reply  > div.replylist > .replyresult{
	    font-family: "IM_Hyemin-Regular";
    font-size: var(--font3);
    resize: none;
    border: none;
    border-radius: 20px;
    background: rgb(237, 237, 237);
    padding: 20px 20px;
    margin: 10px 40px 20px 40px;
}

.wrap-body > div.board-reply  > div.replylist >.replyresult > div.r-content > div{
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	background: rgb(237, 237, 237);
	margin:20px;
}


.wrap-body > div.board-reply  > div.replylist > .replyresult > div.r-wrap > ul{
	display:flex;
	font-family: "IM_Hyemin-Regular";
 	font-size: var(--font4);
	
}

.wrap-body > div.board-reply  > div.replylist > .replyresult > div.r-wrap > ul > li {
	flex: 1 1 0;	
}


.wrap-body > div.board-reply  > div.replylist > .replyresult > div.r-wrap > ul > li:nth-child(2) {
	flex: 2 0 0;
	cursor: pointer;
}

.wrap-body > div.board-reply  > div.replylist > .replyresult > div.r-wrap > ul > li:nth-child(3) {
	text-align: end;
}


/* 대댓글 .level2 창 다른부분*/
.wrap-body > div.board-reply  > div.replylist > .replyresult.level2 {
 	font-size: var(--font3);
 	margin: 10px 40px 20px 120px;
}


/* 대댓글 입력 창*/
.wrap-body > div.board-reply > div.replylist > div.reply2{
	font-family: "IM_Hyemin-Regular";
 	font-size: var(--font4);
	resize: none;
	border: none;
	border-radius: 20px;
	background: var(--color_gray_2);
 	padding: 20px 20px;
 	margin: 10px 40px 20px 120px;
}

.frm-reply2  > div.r-1 > div {
	padding-bottom: 10px;
}

.wrap-body > div.board-reply > div.replylist > div.reply2 > form > div.r-2 > div > textarea {
	width: 100%;
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font4);
	border: none;
	resize: none;
	background: var(--color_gray_2);
}

.wrap-body > div.board-reply > div.replylist > div.reply2 > form > div.r-3 > ul {
	display:flex;
	justify-content: space-between;
}

