.wrap-welcome{
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}


.wrap-welcome .btn{
	width: 300px;
    height: 50px;
    margin:130px 15px;
    border: 0;
    border-radius: 10px;
    background-color: var(--color_purple_3);
	font-family: "IM_Hyemin-Bold";
	font-size:var(--font3);
	color: white;
}

.wrap-welcome .btn:hover{
	background: var(--color_purple_1);
	color: white;
}