<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="selectAllList" resultType="BoardListDto">
		SELECT BOARD_ID, TITLE, BOARD_WRITER, WRITE_TIME, READ_COUNT FROM BOARD
	</select>

	<select id="selectTotalPageCount" resultType="_int">
		SELECT COUNT(*) c FROM BOARD
	</select>
	
	<select id="selectPage" resultType="BoardListDto" parameterType="map">
		SELECT T2.* FROM
		(SELECT T1.*, ROWNUM RN FROM
		(SELECT BOARD_ID, TITLE, to_char(WRITE_TIME, 'yyyy-mm-dd hh:mi') WRITE_TIME,
		BOARD_WRITER, READ_COUNT FROM BOARD ORDER BY BOARD_ID DESC) T1 ) T2
		WHERE RN BETWEEN #{startRounum} AND #{endRounum}
	</select>

	<select id="selectOne" resultType="BoardContentDto" parameterType="int">
		SELECT BOARD_ID, TITLE, BOARD_WRITER, to_char(WRITE_TIME, 'yyyy-mm-dd hh:mi') WRITE_TIME, BOARD_LIKE, CONTENT FROM BOARD WHERE BOARD_ID = #{boardId}
	</select>
	
	<select id="selectBoardReplyList" resultType="BoardReplyListDto" parameterType="int">
		SELECT REPLY_ID, BOARD_ID, REPLY_WRITER_ID ,REPLY_CONTENT, REPLY_WRITE_TIME, REPLY_LEVEL, REPLY_REF, REPLY_STEP
		FROM BOARD_REPLY
		WHERE BOARD_ID = #{boardId} 
			ORDER BY REPLY_REF ASC, REPLY_STEP
	</select>
	
	<insert id="insert" parameterType="BoardInsertDto">
		INSERT INTO BOARD(BOARD_ID, BOARD_WRITER, TITLE, CONTENT, WRITE_TIME,
		READ_COUNT, BOARD_LIKE)
		VALUES(SEQ_BOARD_ID.nextval, #{boardWriter}, #{title}, #{content}, default, default, default)
	</insert>
	
	<insert id="insertReplyWrite" parameterType="BoardReplyWriteDto">
		INSERT INTO BOARD_REPLY 
		VALUES((SELECT NVL(MAX(REPLY_ID),0)+1 FROM BOARD_REPLY) , #{boardId}, #{replyWriterid}, #{replyContent},
				default, (SELECT NVL(MAX(reply_ref),0)+1 FROM BOARD_REPLY), 1, 1);
	</insert>
	
	<insert id="insertReplyWriteAgain" parameterType="BoardReplyWriteDto">
		INSERT INTO BOARD_REPLY 
		VALUES((SELECT NVL(MAX(REPLY_ID),0)+1 FROM BOARD_REPLY) , #{boardId}, #{replyWriterid}, #{replyContent},
				default, #{reply_ref}, (SELECT NVL(MAX(reply_step),0)+1 FROM BOARD_REPLY where reply_id=#{reply_id}),  (SELECT NVL(MAX(reply_level),0)+1 FROM BOARD_REPLY))
	</insert>

	<update id="update" parameterType="BoardDto">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE BOARD_ID = #{boardId}
	</update>

	<update id="updateReplyStep" parameterType="_int">
		UPDATE BOARD_REPLY SET REPLY_STEP = REPLY_STEP+1  
		WHERE REPLY_REF = ( SELECT REPLY_REF FROM BOARD_REPLY WHERE REPLY_ID = #{replyId})
    			AND
    		  REPLY_STEP > ( SELECT REPLY_STEP FROM BOARD_REPLY WHERE REPLY_ID = #{replyId})
	</update>

	<delete id="delete" parameterType="_int">
		DELETE FROM BOARD WHERE BOARD_ID = #{boardId}
	</delete>
</mapper>
