<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group">

	<select id="selectMyList" parameterType="string"
		resultType="GroupMylistDto">
		SELECT SGROUP_ID, SGROUP_NAME, SGROUP_IMG_PATH,
		SGROUP_IMG_NAME FROM SGROUP
		WHERE SGROUP_ID IN
		(SELECT SGROUP_ID
		FROM
		SGROUP_MEMBER
		WHERE
		SGROUP_MEM_ID = #{memberId})
	</select>

	<select id="selectMyCount" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM SGROUP_MEMBER
		WHERE SGROUP_MEM_ID =
		#{memberId}
	</select>

	<select id="selectAllOpenList" parameterType="map"
		resultType="GroupDto">
		SELECT S.SGROUP_ID, S.SGROUP_NAME, S.SGROUP_OPEN,
		S.SGROUP_PWD, S.SGROUP_EXPLAIN, S.SGROUP_IMG_PATH, S.SGROUP_IMG_NAME
		FROM (SELECT ROWNUM, SGROUP.* FROM SGROUP WHERE
		SGROUP_OPEN = '0')
		S
		WHERE ROWNUM BETWEEN #{startRounum} AND #{endRounum}
	</select>

	<select id="selectAllList" resultType="GroupDto">
		SELECT * FROM SGROUP
	</select>

	<insert id="insert" parameterType="GroupCreateDto">
		INSERT ALL
		INTO SGROUP VALUES
		(SEQ_SGROUP_ID.nextval, #{groupName},
		#{groupOpen},#{groupPwd},#{groupEx},#{groupImgPath},#{groupImgName})
		INTO SGROUP_MEMBER VALUES (SEQ_SGROUP_ID.nextval, #{groupWriter})
		SELECT *
		FROM DUAL
	</insert>
</mapper>
