<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group">

	<select id="selectMyList" parameterType="string"
		resultType="GroupMylistDto">
		SELECT SGROUP_ID, SGROUP_NAME, SGROUP_IMG_PATH,
		SGROUP_IMG_NAME FROM SGROUP
		WHERE SGROUP_ID IN
		(SELECT SGROUP_ID
		FROM
		SGROUP_MEMBER
		WHERE
		SGROUP_MEM_ID = #{memberId})
	</select>

	<select id="selectMyCount" parameterType="string"
		resultType="_int">
		SELECT COUNT(*) FROM SGROUP_MEMBER
		WHERE SGROUP_MEM_ID =
		#{memberId}
	</select>

	<select id="selectAllOpenList" parameterType="map"
		resultType="GroupDto">
		SELECT S.SGROUP_ID, S.SGROUP_NAME, S.SGROUP_OPEN,
		S.SGROUP_PWD, S.SGROUP_EXPLAIN, S.SGROUP_IMG_PATH, S.SGROUP_IMG_NAME
		FROM (SELECT ROWNUM, SGROUP.* FROM SGROUP WHERE
		SGROUP_OPEN = '0')
		S
		WHERE ROWNUM BETWEEN #{startRounum} AND #{endRounum}
	</select>

	<select id="selectRandList" resultType="GroupDto">
		SELECT * FROM (
		SELECT
		* FROM SGROUP ORDER BY DBMS_RANDOM.RANDOM
		)
		WHERE
		ROWNUM <![CDATA[<=]]>
		20
	</select>

	<select id="selectFindList" parameterType="string"
		resultType="GroupDto">
		SELECT * FROM SGROUP WHERE SGROUP_NAME LIKE '%${findName}%'
	</select>

	<select id="selectAllList" resultType="GroupDto">
		SELECT * FROM SGROUP
	</select>

	<insert id="insert" parameterType="GroupCreateDto">
		INSERT ALL
		INTO SGROUP VALUES
		(SEQ_SGROUP_ID.nextval, #{sgroupName},
		#{sgroupOpen},#{sgroupPwd},#{sgroupEx},#{sgroupImgPath},#{sgroupImgName})
		INTO SGROUP_MEMBER VALUES (SEQ_SGROUP_ID.nextval, #{sgroupWriter})
		SELECT *
		FROM DUAL
	</insert>

	<select id="selectGroupInfoList" parameterType="_int"
		resultType="GroupInfoListDto">
		SELECT * FROM SGROUP
		JOIN SGROUP_MEMBER USING (SGROUP_ID)
		WHERE SGROUP_ID = ${groupId}
	</select>

	<select id="selectGroupInfoOne" parameterType="_int"
		resultType="GroupDto">
		SELECT * FROM SGROUP
		WHERE SGROUP_ID = ${groupId}
	</select>

	<resultMap id="recordSumResultMap" type="GroupRecordSumDto">
		<result property="memId" column="MEM_ID" />
		<result property="sumMin" column="SUM_MIN" />
	</resultMap>

	<select id="selectGroupRecordSumList" parameterType="_int"
		resultMap="recordSumResultMap">
		select s.sgroup_mem_id AS "MEM_ID"
		, NVL( SUBSTR(TO_CHAR(v.difftime , 'HH24:MI:SS'), 12, 8), '0') AS "SUM_MIN"
		from sgroup_member s
		left join v_record_week v on( v.record_mem_id = s.sgroup_mem_id )
		where s.sgroup_id = #{groupId}
		ORDER BY SUM_MIN DESC
	</select>

	<!-- <select id="test" parameterType="string" resultType="_int"> SELECT 
		ROUND(SUM(TO_NUMBER(TO_CHAR(RECORD_END, 'HH24MISS')) - TO_NUMBER(TO_CHAR(RECORD_START, 
		'HH24MISS'))) / 100) FROM RECORD WHERE RECORD_START >= ( SYSDATE - 7 ) AND 
		RECORD_MEM_ID = #{memId} </select> -->

	<update id="update" parameterType="GroupUpdateDto">
		UPDATE SGROUP SET SGROUP_NAME
		= #{sgroupName}, SGROUP_OPEN = #{sgroupOpen}, SGROUP_PWD =
		#{sgroupPwd},
		SGROUP_EXPLAIN = #{sgroupEx}, SGROUP_IMG_PATH =
		#{sgroupImgPath}, SGROUP_IMG_NAME= #{sgroupImgName}
		WHERE SGROUP_ID =
		#{sgroupId}
	</update>

	<update id="updateMin" parameterType="GroupUpdateMinDto">
		UPDATE SGROUP SET
		SGROUP_NAME = #{sgroupName}, SGROUP_OPEN = #{sgroupOpen}, SGROUP_PWD =
		#{sgroupPwd},
		SGROUP_EXPLAIN = #{sgroupEx}
		WHERE SGROUP_ID = #{sgroupId}
	</update>

	<select id="selectGroupRecordDaySumList"  parameterType="_int"  resultType="GroupRecordDaySumDto">
		SELECT '그룹원' MEM_ID, 
		TO_CHAR(SYSDATE - 0, 'DY') AS "D1"
        , TO_CHAR(SYSDATE - 6, 'DY') AS "D2", TO_CHAR(SYSDATE - 5, 'DY') AS "D3", TO_CHAR(SYSDATE - 4, 'DY') AS "D4"
		, TO_CHAR(SYSDATE - 3, 'DY') AS "D5", TO_CHAR(SYSDATE - 2, 'DY') AS "D6", TO_CHAR(SYSDATE-1, 'DY') AS "D7"
		FROM DUAL
		UNION
		SELECT SGROUP_MEM_ID, 
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP b
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 0 ) AND b.SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0' ) AS "D1"
		    ,NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP 
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 6) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0') AS "D2",
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP  
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 5) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0') AS "D3",
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP  
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 4) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0') AS "D4",
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP  
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 3) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0') AS "D5",
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP  
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 2) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0') AS "D6",
		    NVL(SUBSTR((SELECT DIFFTIME FROM V_RECORD_WO_SUBJECT_W_GROUP  
		        WHERE TRUNC(RECORD_DATE) = TRUNC(SYSDATE - 1) AND SGROUP_MEM_ID = A.SGROUP_MEM_ID AND SGROUP_ID = A.SGROUP_ID )
		        , 12, 8), '0')  AS "D7"
		FROM V_RECORD_WO_SUBJECT_W_GROUP A
		WHERE A.SGROUP_ID = #{groupId}
	</select>
</mapper>
