<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="record">

<!-- 과목별 일일 공부시간 및 합계  -->
<select id="subjectDifftime" parameterType="string" resultType="SubjectDifftimeDto">
select SUBJECT_ID, SUBJECT_NAME ,DIFFTIME,SUBJECT_COLOR    
from (SELECT SUBJECT_ID, SUBJECT_NAME,SUBJECT_DEL_DATE,SUBJECT_COLOR   FROM SUBJECT WHERE MEM_ID =#{memId}) t1   
	FULL JOIN 
	( SELECT RECORD_SUBJECT_ID, SUBSTR(NUMTODSINTERVAL( SUM( CAST(RECORD_END as DATE) - CAST(RECORD_START as DATE) ), 'day' ), 12, 8) as DIFFTIME 
	  FROM RECORD WHERE RECORD_MEM_ID = #{memId}  and to_char(RECORD_START, 'yyyymmdd') =  to_char(SYSDATE, 'yyyymmdd') 
	  group by cube(RECORD_SUBJECT_ID) ) t2 
	on (SUBJECT_ID = RECORD_SUBJECT_ID) 
WHERE SUBJECT_DEL_DATE IS NULL
ORDER BY SUBJECT_ID ASC NULLS FIRST
</select>

<!-- 과목별 일일 공부시간 -->
<select id="dayStudyTime" parameterType="string" resultType="DayStudyTimeBySubjectDto">
select SUBJECT_NAME
, (select SUBJECT_COLOR from subject where SUBJECT.SUBJECT_NAME = V_RECORD.SUBJECT_NAME  ) as "COLOR"
, SUBSTR(DIFFTIME,12,8) DIFFTIME, SUBSTR(RECORD_DATE,7,2) as ONLY_DATE    
from V_RECORD where RECORD_MEM_ID =#{memId} and TRUNC(RECORD_DATE) = TRUNC(SYSDATE)
</select>

<!-- 현재 일자 기준 최근 4일 이내 과목별 학습시간 -->
<resultMap type="DayStudyTimeDto" id="DayStudyTimeDtoMap">
	<id column="SUBJECT_NAME"  property="subjectName"/>
	<result column="COLOR" property="color" />
	<collection property="diffTimeByDayList" ofType="DateDifftimeDto" >
		<result column="DIFFTIME" property="difftime" />
		<result column="ONLY_DATE" property="onlyDate" />
	</collection>
</resultMap>
<select id="fourdayStudyTime" parameterType="string" resultMap="DayStudyTimeDtoMap">
	select t1.SUBJECT_NAME, SUBJECT_COLOR "COLOR", TO_CHAR(DDAY,'MM-DD') ONLY_DATE, NVL(DIFFTIME, 0) DIFFTIME
	from 
		(select * from (select SUBJECT_NAME, SUBJECT_COLOR from subject where mem_id=#{memId}) t1 cross join v_dday4 ) t1
		left join 
		(select SUBJECT_NAME, RECORD_DATE, DIFFTIME from V_RECORD_SEC where RECORD_MEM_ID = #{memId}) t2
		on t1.SUBJECT_NAME = t2.SUBJECT_NAME and DDAY = TRUNC(t2.RECORD_DATE)
	order by t1.subject_name ASC, DDAY ASC
</select>

<!-- 일일 최대학습시간 30일-->
<!--
 <resultMap type="DateDifftimeDto" id="DateDifftimeDtoMap">
	<result column="DIFFTIME" property="difftime" />
	<result column="ONLY_DATE" property="onlyDate" />
</resultMap> 
-->
<select id="thirtydayStudyTime" parameterType="string" resultType="DateDifftimeDto">
select NVL(ROUND(DIFFTIME), 0) DIFFTIME, TO_CHAR(DDAY,'MM-DD') ONLY_DATE
from V_DDAY30 
left join (select TRUNC(record_date) RDAY, sum(DIFFTIME) DIFFTIME from V_RECORD_SEC where RECORD_MEM_ID= #{memId} group by TRUNC(record_date)) 
on DDAY = RDAY order by DDAY ASC
</select>

<!-- 과목별 하루 학습시간 30일-->
<select id="thirtydayStudyTimeBySubject" parameterType="string" resultMap="DayStudyTimeDtoMap">
select t1.SUBJECT_NAME, SUBJECT_COLOR "COLOR", TO_CHAR(DDAY,'MM-DD') ONLY_DATE, NVL(ROUND(DIFFTIME), 0) DIFFTIME
	from 
		(select * from (select SUBJECT_NAME, SUBJECT_COLOR from subject where mem_id= #{memId}) t1 cross join v_dday30 ) t1
		left join 
		(select SUBJECT_NAME, RECORD_DATE, DIFFTIME from V_RECORD_SEC where RECORD_MEM_ID =  #{memId}) t2
		on t1.SUBJECT_NAME = t2.SUBJECT_NAME and DDAY = TRUNC(t2.RECORD_DATE)
	order by t1.subject_name ASC, ONLY_DATE ASC
</select>

<!-- 누적 학습 시간 30일-->
<select id="accStudyTime" parameterType="string" resultType="DateDifftimeDto">
SELECT 
    TO_CHAR(DDAY,'MM-DD') AS ONLY_DATE, 
    SUM(NVL(ROUND(DIFFTIME), 0)) OVER (ORDER BY DDAY ASC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS DIFFTIME
FROM V_DDAY30 
LEFT JOIN (
    SELECT TRUNC(record_date) AS RDAY, 
           SUM(DIFFTIME) AS DIFFTIME 
    FROM V_RECORD_SEC 
    WHERE RECORD_MEM_ID = #{memId}
    GROUP BY TRUNC(record_date)
) ON DDAY = RDAY
ORDER BY DDAY ASC
</select>

<!--월별 총 학습 시간  -->
<select id="monthStudyTime" parameterType="string" resultType="DateDifftimeDto">
select TO_CHAR(MMONTH,'mm') ONLY_DATE, NVL(DIFFTIME, 0) DIFFTIME  from V_MMONTH12
left join
(select to_char(record_date,'yy-mm') RDAY, round(sum(DIFFTIME),0) DIFFTIME from V_RECORD_SEC where RECORD_MEM_ID= #{memId} group by to_char(record_date,'yy-mm')) 
on TO_CHAR(MMONTH,'yy-mm') = RDAY
order by MMONTH
</select>

<!--월별 과목별 학습시간-->
<select id="monthBySubject" parameterType="string" resultMap="DayStudyTimeDtoMap">
select t1.SUBJECT_NAME, SUBJECT_COLOR "COLOR", TO_CHAR(mmonth,'mm') ONLY_DATE, NVL(ROUND(DIFFTIME), 0) DIFFTIME
from 
	(select * from (select SUBJECT_NAME, SUBJECT_COLOR from subject where mem_id= #{memId}) t1 cross join V_MMONTH12 ) t1
	left join 
	(select SUBJECT_NAME, to_char((RECORD_DATE),'yy-mm') as RDAY, round(sum(DIFFTIME),0) DIFFTIME 
		from V_RECORD_SEC where RECORD_MEM_ID =  #{memId} group by SUBJECT_NAME, to_char((RECORD_DATE),'yy-mm') order by rday) t2
	on t1.SUBJECT_NAME = t2.SUBJECT_NAME and TO_CHAR( t1.MMONTH,'yy-mm') = RDAY
order by t1.subject_name ASC, mmonth ASC
</select>

<insert id="insertStartTime" parameterType="RecordTimeDto">
INSERT INTO RECORD VALUES(SEQ_RECORD_ID.nextval, #{recordSubjectId}, #{recordMemId},
 	to_date(#{recordStart}, 'yyyymmddhh24miss'),NULL)
</insert>

<update id="insertEndTime" parameterType="RecordTimeDto">
UPDATE RECORD SET RECORD_END = to_date(#{recordStart}, 'yyyymmddhh24miss')
 where RECORD_SUBJECT_ID =#{recordSubjectId} and RECORD_MEM_ID=#{recordMemId} and RECORD_END IS NULL
</update>

<!-- 캘린더에 출력할 DB 과목명,시작,종료시간-->
<select id="studyTimeByCalList" parameterType="string" resultType="RecordCalendarDto">
select SUBJECT_NAME, RECORD_START , RECORD_END ,SUBJECT_COLOR  
from record join SUBJECT on RECORD_SUBJECT_ID=SUBJECT_ID WHERE RECORD_MEM_ID= #{memId} order by RECORD_START
</select>

<select id="selectOne" parameterType="int" resultType="RecordDto">
SELECT * FROM RECORD WHERE RECORD_ID=#{recordId}
</select>

</mapper>
