@charset "UTF-8";

.wrap-body {
	width: 960px;
	margin: auto;
}


.wrap-body .monthly {
	/* 랭킹 화면 들어올 시 monthly 는 안보임 */
	display: none;
}

.wrap-body .btn.tab01{
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	border: 2px solid var(--color_purple_1);
    border-radius: 20px;
	background: white;
	margin: 20px;
	padding: 5px 30px;
}

.wrap-body .btn.tab01:hover {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	background: var(--color_purple_1);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 20px;
    padding: 5px 30px;
}

.wrap-body .btn.tab02 {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	border: 2px solid var(--color_purple_1);
	background: white;
    border-radius: 20px;
    padding: 5px 30px;
	
}
.wrap-body .btn.tab02:hover {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
	background: var(--color_purple_1);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: 5px 30px;
}


/* 여기서부터 순위 나타나기 시작 */

/* 일일통계 */
#tab01 > div > div > p{
	font-family: "IM_Hyemin-Regular";
	margin-bottom: 30px;
}

#tab01 > div > div > .ranking-wrap {
	font-family: "IM_Hyemin-Regular";
	position: relative;
}

#tab01 > div > div > div:nth-child(2) > div.ranknum {
	width: 50px;
    height: 50px;
	color: #fff;
    background-color: #8066FF;
    border-radius: 100px;
    text-align: center;
	position: relative;
} 

#tab01 > div > div > div:nth-child(2) > div.ranknum > p {
	font-family: "IM_Hyemin-Bold";
	font-size: 30px;

	position: absolute;
	top: 9px;
	left: 14px;
}

#tab01 > div > div > div > div.memId {
	position: absolute;
	top: 0;
	left: 80px;
}

#tab01 > div > div > div > div.studyrecord {
	position: absolute;
	top: 0;
	right: 90px;
}




/* 월일통계 */
#tab02 > div > div > p{
	font-family: "IM_Hyemin-Regular";
	margin-bottom: 30px;
}

#tab02 > div > div > .ranking-wrap {
	font-family: "IM_Hyemin-Regular";
	position: relative;
}

#tab02 > div > div > div:nth-child(2) > div.ranknum {
	width: 50px;
    height: 50px;
	color: #fff;
    background-color: #8066FF;
    border-radius: 100px;
    text-align: center;
	position: relative;
} 

#tab02 > div > div > div:nth-child(2) > div.ranknum > p {
	font-family: "IM_Hyemin-Bold";
	font-size: 30px;
	
	position: absolute;
	top: 9px;
	left: 14px;
}

#tab02 > div > div > div > div.memId {
	position: absolute;
	top: 0;
	left: 80px;
}

#tab02 > div > div > div > div.studyrecord {
	position: absolute;
	top: 0;
	right: 90px;
}

/* 막대그래프 */
.rank-bar {
        color: #fff;
        font-size: 11px;
        line-height: 25px;
        height: 25px;
        margin-bottom: 5px;
        width: 85%;
 
        background-color: var(--color_purple_3);
 
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
            -ms-border-radius: 2px;
                border-radius: 20px;
                
		position: absolute;
 		top: 25px;
 		left: 65px;
 		
 		
}
 
.rank-bar * {
        -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
           -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
               transition: all 0.5s ease;
}
 
 /* 퍼센트 없는거 - 원래 노란색이었음 */
.rank-bar div {
        background-color: #8066FF;
        position: relative;
        padding-left: 25px;
        width: 80%;
 
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
           -ms-border-radius: 2px;
                border-radius: 20px;
}