@charset "UTF-8";

.wrap-body .wrap-calendar {
	height: 580px;
	width: 100%;
	background-color: rgb(221, 204, 255, 0.2);
}

#calendar {
	padding-top: 30px; 
	max-width : 600px;
	height: 500px;
	margin: 0 auto;
	z-index: 100px;
}

.fc-event-title.fc-sticky{
    white-space: normal;
}

.fc-header-toolbar .fc-toolbar-title {
	font-family: "IM_Hyemin-Bold";
	font-size: var(--font2);
}

.fc-toolbar-chunk .fc-today-button .fc-button .fc-button-primary {
	background-color: var(--color_purple_1);
}

.fc-header-toolbar .fc-toolbar-chunk button {
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font5);
	background-color: var(--color_purple_3);
	border: 0;
}

.fc-header-toolbar .fc-toolbar-chunk button:hover {
	background-color: var(--color_purple_1);
}

#calendar > div.fc-view-harness.fc-view-harness-active{
	background-color: white;
}

#calendar > div.fc-view-harness.fc-view-harness-active > div > table{
	font-size: var(--font3);
	font-family: "IM_Hyemin-Regular";
}

#calendar > div.fc-view-harness.fc-view-harness-active > div > table > thead > tr > th{
	font-family: "IM_Hyemin-Bold";
}

.wrap-body .wrap-content {
	width: 960px;
	margin: 0 auto;
	align-items: center;
	/* 자식 요소(.child)를 중앙 정렬하기 */
	display: flex;
	justify-content: center;
}

.wrap-body .wrap-content .btn{
	margin-top: 25px;
	background-color: var(--color_purple_3);
	font-family: "IM_Hyemin-Regular";
	font-size: var(--font5);
	color: black;
	border: 0;
	height: 20px;
	width: 130px;
	border-radius: 10px;
}

.wrap-body .wrap-content .btn:hover{
	background: var(--color_purple_1);
	color: white;
	cursor: pointer;
}